* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

body, ul {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  list-style: none;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 20px;

  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  padding-bottom: 30px;
}

.section {
  width: 50%;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

.header {
  background-color: #444;
}

.main {
  font-size: 20px;
}

.main-list {
  padding-left: 30px;
}

.footer {
  height: 70px;

  background: #444;
}


.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15.5px;
  padding: 0 20px;
}

.footer-github {
  display: flex;
  align-items: center;
  gap: 20px;

  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  text-decoration: none;
}

.github-link {
  color: white;
  text-decoration: none;
}

.github-link:hover {
  text-decoration: underline;
}

.footer p {
  margin: 0;
}

img {
  width: 100px;
}

main img {
  width: 200px;
}
